<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.chuti.test" >
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Installation"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="Installation" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Rotate"
            android:label="Installation"
            />
        <activity android:name=".Calibrate"
            android:label="Calibrate the compass"
            />
        <activity android:name=".Heading"
            android:label="Installation"
            />
    </application>

</manifest>
